<div class="container">
	<h1>Matias Tomas Seguel Estay</h1>
	<div class="row">
		<div class="col-md-6">
			<form class="form" method="post" action="<%= pages_save_user_path %>">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			  <div class="form-group">
			    <label for="name">Nombre</label>
			    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
			  </div>
			  <div class="form-group">
			    <label for="email">Email</label>
			    <input type="email" class="form-control" id="email" name="email" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <label for="age">Edad</label>
			    <input type="number" class="form-control" id="age" name="age" placeholder="Edad">
			  </div>
			  <button type="submit" class="btn btn-default">Enviar</button>
			</form>
		</div>
	</div>
</div>
