<div class="container">
	<h1>Matias Tomas Seguel Estay</h1>
	<div class="row">
		<div class="col-md-6">
			<form class="form">
			  <div class="form-group">
			    <label for="txt_nombre">Nombre</label>
			    <input type="text" class="form-control" id="txt_nombre" name="txt_nombre" placeholder="Nombre">
			  </div>
			  <div class="form-group">
			    <label for="txt_email">Email</label>
			    <input type="email" class="form-control" id="txt_email" placeholder="Email">
			  </div>
			  <div class="form-group">
			    <label for="txt_edad">Edad</label>
			    <input type="number" class="form-control" id="txt_edad" name="txt_edad" placeholder="Edad">
			  </div>
			  <button type="submit" class="btn btn-default">Enviar</button>
			</form>
		</div>
	</div>
</div>
